.global{
    width: 100vw;
    height: calc(100vh - 168px);
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    width: 290px;
    height: 65vh;
    display: grid;
    grid-template-columns:1;
    
}
.grid-content{
display: flex;
align-items: center;
}
.image{
    width: 50px;
    height: 50px;
}
.covid{
    background-image: url(../images/coronavirus.svg);
    background-size:cover ;
}
.lugagge{
    background-image: url(../images/luggage.svg);
    background-size: cover;
}
.sale{
    background-image: url(../images/sale.svg);
    background-size: cover;
}
.doc{
    background-image: url(../images/doc1.svg);
    background-size: cover;
}
.text{
width:calc(100% - 50px) ;
height: 25px;
padding-left: 25px;
font-size:0.75rem ;
letter-spacing: 2px;
font-weight: 700;
}
@media screen and (min-width: 768px) {
.global{
    height: calc(81vh - 88px);
}
.grid{
    padding-left: 5vw;
    width: 80vw;
    height: 20vw;
    grid-template-columns: auto auto auto;
}
.image{
    height: 100px;
    width: 100px;
}
.text{
    width: calc(100% - 100px);
    font-size: 1.125rem;
}


}