@mixin centering {
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: $header-footer-color;
    flex-direction: row;
    justify-content: space-between;

}
.logo{

 background-position: center;
 background-image: url(../images/logo.svg);
 width: 80px;
 height: 66.13px;
 margin-left: 40px;
 align-self: center;
}
.burger-menu{
background-image: url(../images/burgermenu.svg);
width: 30px;
height: 30px;
align-self: center;
background-repeat:no-repeat;
margin-right: 40px;

}
.navigation{
    display: none;

}


@media screen and (min-width: 768px) {
    .header{
        height: 19vh;
        align-items: center;
    }
    .logo{
        margin-left: 8vw;
        height: 19vh;
        width: 19vh;
        background-size:cover;
        position: absolute;
        }
    .burger-menu{
        display: none;
    }
    .navigation{
        @include centering();
        display: flex;
        height:8vh;
        width: 10vw;
        font-size: 1.125rem;
        font-weight: 700;
        text-decoration: none;
        color: black;
    }
  

    .navigation:nth-child(2){
        margin-left: 60vw; 
        width:150px;
        padding-left:18px;
        padding-right: 18px;
        background-color: #7C7474;

    }
    .navigation:nth-child(3){
        width: 280px;
        padding-left:18px ;
        padding-right: 18px;
    }
    .navigation:nth-child(4){
        width: 113px;
        padding-left:18px ;
        padding-right: 18px;
        margin-right: 8vw;
    }
    .navigation:hover{
        background-color:#7c747473 ;
    }
  }