

.second{
    width: 310px;
    height: 638px;
}
.title{
    display: flex;
    height: 13px;
    margin-top: 50px;
    font-size: 0.6875rem;
    align-items: center;
    justify-content: center;
}
    .offers{
        display: grid;
        height: 429px;
        margin-top: 32px;
        gap: 38.8px;
    }
    .end-button{
        height: 25px;
        margin-top: 39px;
        display: flex;
        justify-content: center;
    }

    
    .box3-content{
            width: 100%;
            height: 117.2px;
            display: flex;
            flex-direction: row;
    }
    .box3-content-picture{
        height: 100%;
        width:117.2px;
        background-size: contain;
        background-position: bottom;
        //-webkit-box-shadow: 0px 10px 10px -1px #9F9F9F; 
        //box-shadow: 0px 10px 10px -1px #9F9F9F;
    }
    .box3-content-text{
        height: 100%;
        width:192.8px;
        padding-left:18px ;
        padding-top: 21px;
    }
    .island{
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
    }
    .island-text{
        font-size: 10px;
        font-weight: 300;
        font-style: normal;
    }
.madeira{
    background-image: url(../images/madeira.png);
}
.sardinie{
    background-image: url(../images/sardinie.png);
}
.kypr{
    background-image: url(../images/kypr.png);
}
.button{
    width:120px ;
    height: 100%;

    font-size: 11px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F7EC;
    background-color: #7C7474;
    
}
@media screen and (min-width: 600px) {
    .second{
        background-color: #E5E5E5;
        background-position: center;
        height: calc(112vh);
        display: flex;
        flex-direction: column;
    }
    .under-header{
        width: 100%;
    }
    .title{
        margin-top: 92px;
        font-size: 34px;
        width:100%;
        height: 50px;
        font-weight: 700;
        letter-spacing: 5px;
    }

    .offers{
        margin-top: 104px;
        grid-template-columns: repeat(3, 1fr);
        width: 1112px;
        align-self: center;
        height: 520px;
    }
    .box3-content{
        width: 350px;
        height: 520px;
        flex-direction: column;
    }
    .box3-content-picture{
        height: 350px;
        width: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box3-content-text{
        height:170px ;
        width: 100%;
        padding-left: 0;
        padding-top:28px ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .island{
        height:30px ;
        font-size: 24px;
        letter-spacing: 2.5px;
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .island-text{
        margin-top: 22px;
        height: 90px;
        width: 320px;
        font-size: 18px;
        font-weight: 300;  
        display: flex;
        letter-spacing: 2px;
        }
        .end-button{
            margin-top: 104px;
            height:55px;
            width: 100%px;
        }
        .button{
            font-size: 18px;
            letter-spacing: 3px;
            color:#F8F7EC;
            width: 180px;

        }
}
