
@import"pozadi";
@import"header";
@import"podheader";
@import "reset";
@import "druha-cast";
@import "treti-cast";
@import "ctvrta-cast";

    
    

    #pomoc{
    position:absolute;
    height:40vh;
    width: 1vw;
    top: 91vh;
    
    
    }


    #pomoc2{
        position:absolute;
        height:40vh;
        width: 1vw;
        top: 181vh;
    }
   
   